h3 {
  text-align: left;
}

.input-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.input-full-width {
  width: 100%;
}

container {

}
div[class*="col"] {
  box-shadow: 0px 2px 4px 1px #ccc;
  margin: 5px;
  padding: 1em;
}