<div class="row">
  <div class="col-sm">

    <h4>My Membership</h4>

    <form class="input-form">
      <mat-form-field class="input-full-width">
        <input matInput placeholder="Alias" value="">
        <mat-hint>Your alias will be permantly saved on the Blockchain!</mat-hint>
      </mat-form-field>
    </form>
    <br>

    <div class="inline">asd</div>
    <div class="inline">asd</div>
  </div>


</div>
<div class="row">
  <div class="col-sm">
    col-sm
  </div>
  <div class="col-sm">
    col-sm
  </div>
  <div class="col-sm">
    col-sm
  </div>
</div>