@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
   
}

.content {
    margin-top: 85px;
    margin-left: 1em;
}

.header {
    width: 100%;
    border-bottom: 1.5px solid rgb(56, 56, 56);
    background-color: white;
    box-shadow: 0px 2px 4px 1px #ccc;
    position: fixed; 
    top: 0;
}

/* Navigation link styles */
nav {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    background-color: white;
}

.navbar.navbar .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=ed7d31');
}     

logo {
    margin: 5px 15px 5px 0px;
}
nav a {
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
    height: 37px;
    margin: 5px 5px 5px 0px;
    display: inline-block;
    border: 2px solid #fbe3d3;
    border-radius: 7px;
}
  
  nav a:visited, a:link {
    color: black;
  }

  nav a:hover {
    background-color: #ed7d31;
    border: 2px solid #ed7d31;
    color: white
  }

  nav a.active {
    border: 2px solid #ed7d31;
   }
